#mainImgsViewer {
    width: 488px;
    overflow: hidden;
    margin: 0 auto;
}

.mainImages {
    height: 488px;
    width: 488px;
    max-width: 100%;
}

.mainImages img {
    padding: 0;
    margin: 0;
    float: left;
}

.mainImages:hover {
    cursor: zoom-in;
}

#m_main_container {
    display: flex;
}

#m_side_images {
    width: 155px;
}

#m_main_image {
    height: 482.66px;
    width: 568px;
}

.side {
    display: flex;
    width: 62px;
    height: 62px;
    border: 1px grey solid;
    box-sizing: border-box;
    margin-top: .66667rem;
}

.side:hover {
    cursor: pointer;
}

.selectedSide {
    border: 2px solid black;
}

.bordered {
    border-color: #666;
    border-width: 2px;
}

#leftSvg {
    width: 35px;
    height: 35px;
}

#rightSvg {
    width: 35px;
    height: 35px;
}

#mainImgContainer {
    display: flex;
    align-items: center;
    height: 482.66px;
    width: 568px;
    overflow: hidden;
    margin: 0 auto;
}

@keyframes gallerymover1 {
    from {right: 0px;}
    to {right: 0px;}
}

@keyframes gallerymover2 {
    from {right: 0px;}
    to {right: 488px;}
}

@keyframes gallerymover3 {
    from {right: 0px;}
    to {right: 976px;}
}

@keyframes gallerymover4 {
    from {right: 0px;}
    to {right: 1464;}
}

@keyframes gallerymover5 {
    from {right: 0px;}
    to {right: 1952px;}
}

@keyframes gallerymover6 {
    from {right: 0px;}
    to {right: 2440px;}
}

#mainImgGallery {
    position: relative;
    display: flex;
}

/* Make a bunch of animations and activate whichever one matches the number of the currently selected image */