#main {
    height: 488px;
    width: 488px;
}

#main:hover {
    cursor: zoom-in;
}

#m_main_container {
    display: flex;
}

#m_side_images {
    width: 155px;
}

#m_main_image {
    height: 482.66px;
    width: 568px;
}

.side {
    display: flex;
    width: 62px;
    height: 62px;
    border: 1px grey solid;
    box-sizing: border-box;
    margin-top: .66667rem;
}

.side:hover {
    cursor: pointer;
}

.selectedSide {
    border: 2px solid black;
}

.bordered {
    border-color: #666;
    border-width: 2px;
}